# Volatility Calculation

We'll use the yahoo finance API to download the 
`S&P500` futures prices.

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.2.53)
Requirement already satisfied: pandas>=1.3.0 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (2.2.0)
Requirement already satisfied: requests>=2.31 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (2024.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
import numpy as np 
import yfinance as yf

In [4]:
# futures S&P500 data
# all available date
data = yf.download("ES=F")
data

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price         Close     High      Low     Open   Volume
Ticker         ES=F     ES=F     ES=F     ES=F     ES=F
Date
2000-09-18  1467.50  1489.75  1462.25  1485.25   104794
2000-09-19  1478.50  1482.75  1466.75  1467.00   103371
2000-09-20  1469.50  1480.50  1450.25  1478.75   109667
2000-09-21  1469.50  1474.00  1455.50  1470.25    98528
2000-09-22  1468.50  1471.00  1436.75  1454.75    97416
...             ...      ...      ...      ...      ...
2025-02-10  6088.75  6096.00  6014.00  6016.00  1005560
2025-02-11  6092.25  6098.75  6057.75  6085.50  1017366
2025-02-12  6072.75  6098.00  6020.75  6090.75  1558395
2025-02-13  6135.25  6138.00  6053.50  6079.75  1523953
2025-02-14  6132.00  6146.75  6121.25  6131.75  1523953

[6165 rows x 5 columns]

In [6]:
# get the daily returns 
daily_returns = data["Close"].pct_change()
daily_returns

Ticker          ES=F
Date
2000-09-18       NaN
2000-09-19  0.007496
2000-09-20 -0.006087
2000-09-21  0.000000
2000-09-22 -0.000681
...              ...
2025-02-10  0.006488
2025-02-11  0.000575
2025-02-12 -0.003201
2025-02-13  0.010292
2025-02-14 -0.000530

[6165 rows x 1 columns]

In [10]:
# standard deviation
daily_volatility = daily_returns.std()
daily_volatility.values[0]

np.float64(0.012227149583244876)

In [14]:
print(f"Daily volatilty: {daily_volatility.values[0]:.4f} Computed from {daily_returns.index.min()} to {daily_returns.index.max()} data" )

Daily volatilty: 0.0122 Computed from 2000-09-18 00:00:00 to 2025-02-14 00:00:00 data

# Annualized Volatility 

$$
std_{annualized} = std_{daily} *  \sqrt{252}

$$

In [16]:
annualized_volatility = daily_volatility* (252)**(1/2)

In [19]:
print(f"Annualized volatility: {annualized_volatility.values[0]:.4f}")

Annualized volatility: 0.1941

In [23]:
df_daily_vol = daily_volatility.to_frame()
df_daily_vol

               0
Ticker
ES=F    0.012227

In [24]:
daily_volatility

Ticker
ES=F    0.012227
dtype: float64

In [28]:
yearly_returns= (1 + daily_returns).resample("YE").prod() -1
yearly_returns

Ticker          ES=F
Date
2000-12-31 -0.095741
2001-12-31 -0.133949
2002-12-31 -0.235153
2003-12-31  0.263367
2004-12-31  0.092976
2005-12-31  0.033780
2006-12-31  0.138474
2007-12-31  0.034127
2008-12-31 -0.390760
2009-12-31  0.234167
2010-12-31  0.128067
2011-12-31 -0.000399
2012-12-31  0.133733
2013-12-31  0.296479
2014-12-31  0.114883
2015-12-31 -0.008283
2016-12-31  0.098624
2017-12-31  0.196646
2018-12-31 -0.063808
2019-12-31  0.289692
2020-12-31  0.160245
2021-12-31  0.269356
2022-12-31 -0.188610
2023-12-31  0.248381
2024-12-31  0.231483
2025-12-31  0.033062

In [27]:
yearly_returns.std()

Ticker
ES=F    0.176111
dtype: float64